@import "tailwindcss";

/* Tailwind v4 theme config */
@theme {

  --color-ocean: #0D3B3E;
  --color-sand: #F4F1EC;
  --color-gold: #C8A96A;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

/* optional base styling */
body{
  font-family: var(--font-sans);
  background: var(--color-ocean);
  color: var(--color-sand);
}